

#newA, #newQ {
    text-decoration: underline;
}

#qBox{
    border: 1px solid #ffb492;
    background-color: #ffeee6;
}

#topMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb492;
}


#topMenuOptions {
    float: left;
}

#topMenuOptions a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}

#topMenuOptions a:hover {
    background-color: #ff9666;
}

#toplogo {
    padding: 16px
}

#quizzes {
    border-bottom: 1px solid black;
    padding: 5px;
}

#scoreboardButton, #joinButton {
    float:left;
}

#joinButton:hover, #scoreboardButton:hover {
    background-color: #eeeeee;
}

.container{
    padding: 20px;
}

h2 {
    color: darkolivegreen;
    text-align: center;

}

#picture{
    float: right;
}

#cont2, #cont1, #cont3 {
    border: 1px solid #ffb492;
    background-color: #ffeee6;
}

#picCont{
    text-align: center;
}