body{
    color: black;
}


#newA, #newQ {
    text-decoration: underline;
}

#qBox{
    padding: 20px;
    /*border: 1px solid #ffb492;

    background-color: #ffeee6;*/
}

#topMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb492;
}


#topMenuOptions {
    float: left;
}

#topMenuOptions a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}

#topMenuOptions a:hover {
    background-color: #ff9666;
}
.active {
    background-color: #ff9666;
    color: white;
}

#toplogo {
    padding: 16px
}

#quizzes {
    border-bottom: 1px solid black;
    padding: 5px;
}

#scoreboardButton, #joinButton {
    float:left;
}

#joinButton:hover, #scoreboardButton:hover {
    background-color: #eeeeee;
}

.container{
    padding: 20px;
}

h2, h1, #infoText {
    text-align: left;
    color: black;

}
a {
    color: black;
}

p {
    color: black;
}

#picture{
    float: right;
}

#picCont{
    text-align: center;
}

.answerButtons {
    width: 100%;
    height: 60px;
}

.quizzes {
    display: none;
    padding: 10px;
}




.nav-sidebar {
    float: left;
    width: 100%;
    height: 100%;
}

#sidebar {
    height: 470px;
    background-color: #ffeee6;
}


#sidebarOption {
    background-color: #ffeee6;
    color: black;
}

.radio {
    appearance: none;
}

.radio:checked {

}

#submitBox {
    text-align: center;
}

#timeuntilStart {
    text-align: center;
}

#questpicBox {
    text-align: center;
    width: 100%;
    height: 200px;
}

