

#newA {
    text-decoration: underline;
}

#newQ{
    text-decoration: underline;
}

#qBox{
    border: 1px solid #ffb492;
    background-color: #ffeee6;
}

#topMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb492;
}


#topMenuOptions {
    float: left;
}

#topMenuOptions a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}

#topMenuOptions a:hover {
    background-color: #ff9666;
}

#toplogo {
    padding: 16px
}



#quizzes {
    border-bottom: 1px solid black;
    padding: 5px;


}

#scoreboardButton {

    float:left;
    /*padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -6px;
    background-color: #333333;
    color: white;
    text-align: center;*/

}

#joinButton {
    float:left;
    /*padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -6px;
    background-color: #333333;
    color: white;
    text-align: center;*/

}

#joinButton:hover, #scoreboardButton:hover {
    background-color: #eeeeee;
}

.container{
    padding: 20px;
}

h2 {
    color: darkolivegreen;
    text-align: center;

}

body {
    background-color: #ff9666;
}

#midlogo{
    padding: 20px;
    margin-left: 430px;
}

#picture{
    float: right;
}

#cont2 {
    border: 1px solid #ffb492;
    background-color: #ffeee6;
}

#cont1 {
    border: 1px solid #ffb492;
    background-color: #ffeee6;
}